<html>
    <script src="https://unpkg.com/htmx.org@1.5.0"></script>
    <div style="width: 25%; border: 1px solid black" hx-swap="none" id="buzz_active" hx-put="/buzz/active" hx-headers='{"Authorization": "Bearer {{ token }}"}' hx-trigger="click, keyup[key=='a'] from:body">buzz: [A]ctive</div>
    <div style="width: 25%; border: 1px solid black" hx-swap="none" id="buzz_inactive" hx-put="/buzz/inactive" hx-headers='{"Authorization": "Bearer {{ token }}"}' hx-trigger="click, keyup[key=='x'] from:body">buzz: Ina[X]tive</div>
    <div style="width: 25%; border: 1px solid black" hx-swap="none" id="buzz_active_left" hx-put="/buzz/active-left" hx-headers='{"Authorization": "Bearer {{ token }}"}' hx-trigger="click, keyup[key=='l'] from:body">buzz: [L]eft only</div>
    <div style="width: 25%; border: 1px solid black" hx-swap="none" id="buzz_active_right" hx-put="/buzz/active-right" hx-headers='{"Authorization": "Bearer {{ token }}"}' hx-trigger="click, keyup[key=='r'] from:body">buzz: [R]ight only</div>
</html>
