<html>
    <script src="https://unpkg.com/htmx.org@1.5.0"></script>
    <button hx-swap="none" id="buzz_active" hx-put="/buzz/active" {{ authheader }} hx-trigger="click, keyup[key=='a'] from:body">buzz: [a]ctive</button>
    <button hx-swap="none" id="buzz_inactive" hx-put="/buzz/inactive" {{ authheader }} hx-trigger="click, keyup[key=='x'] from:body">buzz: Ina[x]tive</button>
    <button hx-swap="none" id="buzz_active_left" hx-put="/buzz/active-left" {{ authheader }} hx-trigger="click, keyup[key=='l'] from:body">buzz: [l]eft only</button>
    <button hx-swap="none" id="buzz_active_right" hx-put="/buzz/active-right" {{ authheader }} hx-trigger="click, keyup[key=='r'] from:body">buzz: [r]ight only</button>
    <input name="points" placeholder="points"></input>
    <button {{ authheader }} hx-trigger="click, keyup[key=='L']" hx-swap="none" hx-post="/score/left" hx-include="[name='points']">points to [L]</button>
    <button {{ authheader }} hx-trigger="click, keyup[key=='R']" hx-swap="none" hx-post="/score/right" hx-include="[name='points']">points to [R]</button>
    <button {{ authheader }} hx-trigger="click, keyup[key=='n']" hx-swap="none" hx-post="/next">[n]ext</button>
    <div id="actions" hx-get="/ui/admin" hx-select="#actions" hx-trigger="every 2s" {{ authheader }} hx-swap="outerHTML">
        <ul>
            {% for (action, description) in actions %}
            <li hx-swap="none" hx-post="/action/{{ action }}" {{ authheader }} hx-trigger="click, keyup[key=='{{ loop.index }}'] from:body">{{ loop.index }}: {{ description }}</li>
            {% endfor %}
        </ul>
    </div>
</html>
